@media only screen and (min-device-width: 1441px) {
  .division.is-full-on-tv {
    width: 100%;
  }
  .division.is-four-fifth-on-tv {
    width: calc(80vw - 2rem);
  }
  .division.three-quarter-on-tv {
    width: calc(75vw - 2rem);
  }
  .division.is-two-third-on-tv {
    width: calc(66.66vw - 2rem);
  }
  .division.is-half-on-tv {
    width: calc(50vw - 2rem);
  }
  .division.is-third-on-tv {
    width: calc(33.33vw - 2rem);
  }
  .division.is-quarter-on-tv {
    width: calc(25vw - 2rem);
  }
  .division.is-one-fifth-on-tv {
    width: calc(20vw - 2rem);
  }
  .division.is-one-eight-on-tv {
    width: calc(12.5vw - 2rem);
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  .division.is-full-on-desktop {
    width: 100%;
  }
  .division.is-four-fifth-on-desktop {
    width: calc(80vw - 2rem);
  }
  .division.three-quarter-on-desktop {
    width: calc(75vw - 2rem);
  }
  .division.is-two-third-on-desktop {
    width: calc(66.66vw - 2rem);
  }
  .division.is-half-on-desktop {
    width: calc(50vw - 2rem);
  }
  .division.is-third-on-desktop {
    width: calc(33.33vw - 2rem);
  }
  .division.is-quarter-on-desktop {
    width: calc(25vw - 2rem);
  }
  .division.is-one-fifth-on-desktop {
    width: calc(20vw - 2rem);
  }
  .division.is-one-eight-on-desktop {
    width: calc(12.5vw - 2rem);
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .division.is-full-on-laptop {
    width: 100%;
  }
  .division.is-four-fifth-on-laptop {
    width: calc(80vw - 2rem);
  }
  .division.three-quarter-on-laptop {
    width: calc(75vw - 2rem);
  }
  .division.is-two-third-on-laptop {
    width: calc(66.66vw - 2rem);
  }
  .division.is-half-on-laptop {
    width: calc(50vw - 2rem);
  }
  .division.is-third-on-laptop {
    width: calc(33.33vw - 2rem);
  }
  .division.is-quarter-on-laptop {
    width: calc(25vw - 2rem);
  }
  .division.is-one-fifth-on-laptop {
    width: calc(20vw - 2rem);
  }
  .division.is-one-eight-on-laptop {
    width: calc(12.5vw - 2rem);
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  .division.is-full-on-tablet {
    width: 100%;
  }
  .division.is-four-fifth-on-tablet {
    width: calc(80vw - 2rem);
  }
  .division.three-quarter-on-tablet {
    width: calc(75vw - 2rem);
  }
  .division.is-two-third-on-tablet {
    width: calc(66.66vw - 2rem);
  }
  .division.is-half-on-tablet {
    width: calc(50vw - 2rem);
  }
  .division.is-third-on-tablet {
    width: calc(33.33vw - 2rem);
  }
  .division.is-quarter-on-tablet {
    width: calc(25vw - 2rem);
  }
  .division.is-one-fifth-on-tablet {
    width: calc(20vw - 2rem);
  }
  .division.is-one-eight-on-tablet {
    width: calc(12.5vw - 2rem);
  }
}
@media only screen and (max-device-width: 425px) {
  .division.is-full-on-mobile {
    width: 100%;
  }
  .division.is-four-fifth-on-mobile {
    width: calc(80vw - 2rem);
  }
  .division.three-quarter-on-mobile {
    width: calc(75vw - 2rem);
  }
  .division.is-two-third-on-mobile {
    width: calc(66.66vw - 2rem);
  }
  .division.is-half-on-mobile {
    width: calc(50vw - 2rem);
  }
  .division.is-third-on-mobile {
    width: calc(33.33vw - 2rem);
  }
  .division.is-quarter-on-mobile {
    width: calc(25vw - 2rem);
  }
  .division.is-one-fifth-on-mobile {
    width: calc(20vw - 2rem);
  }
  .division.is-one-eight-on-mobile {
    width: calc(12.5vw - 2rem);
  }
  .division.disappear-on-mobile {
    display: none;
  }
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/***********
 * GLOBAL SETTINGS  
 * ***********/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
@media only screen and (min-device-width: 1441px) {
  body.is-tv {
    margin: auto calc((100% - 1440px)/2);
    border: 2px solid #b5b5b5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
}

main {
  margin: 1vh;
  min-height: calc(100vh - 10vh);
}

section {
  margin: 1vh auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

article {
  display: block;
  margin: 5px 0;
}

.footer {
  background-color: #b5b5b5;
  width: 100%;
  position: relative;
  min-height: 5vh;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
}

.copyright {
  text-align: center;
}

.btn {
  border: 1px solid #545454;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: #7a7a7a;
}
.btn__squared {
  border-radius: 3px;
}
.btn__rounded {
  border-radius: 20px;
}
.btn__small {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}
.btn__medium {
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
}
.btn__large {
  font-size: 2rem;
  padding: 0.75rem 3rem;
}
.btn--success {
  background-color: green;
  color: white;
}
.btn--danger {
  background-color: red;
  color: white;
}
.btn:hover {
  background-color: #545454;
  color: white;
}
.btn--success:hover {
  background-color: darkgreen;
}
.btn--danger:hover {
  background-color: #e30000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom: 1px solid #7a7a7a;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
.navbar .logo {
  width: 3rem;
  height: 3rem;
}
.navbar .logo img {
  width: 100%;
  height: auto;
}

#menuShow {
  display: none;
  position: absolute;
  z-index: 1;
  border: 1px solid #b5b5b5;
  background-color: white;
  right: 0;
  top: 105px;
  border-top: inherit;
  border-right: inherit;
}
#menuShow ul {
  padding: 5px 15px;
  min-width: 200px;
  text-align: center;
}
#menuShow ul li {
  padding: 5px;
}
#menuShow ul li a:hover {
  text-decoration: underline;
}
@media only screen and (max-device-width: 425px) {
  #menuShow {
    top: 72px;
  }
}

.hamburger {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  color: transparent;
  padding: 5px 5px 5px 7px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.hamburger span {
  width: 10px;
  text-decoration-line: line-through;
  text-decoration-color: black;
  line-height: 11px;
}

.hamburger:hover {
  cursor: pointer;
}

.card {
  box-shadow: 0 2px 3px grey;
  padding: 1rem;
}
.card__title {
  box-shadow: 0 1px 2px grey;
  text-align: center;
}
.card__title h1 {
  margin: inherit;
  padding: 0.75rem;
}
.card__footer {
  text-align: center;
}

/*# sourceMappingURL=goldenrule.css.map */
