.footer
    background-color: $grey-light
    width: 100%
    position: relative
    min-height: 5vh
    bottom: 0
    left: 0
    display: flex
    justify-content: space-around

.copyright
    text-align: center
