.division
  +tv
    &.is-full-on-tv
      width: $is-full
    &.is-four-fifth-on-tv
      width: $is-four-fifth
    &.three-quarter-on-tv
      width: $is-three-quarter
    &.is-two-third-on-tv
      width: $is-two-third
    &.is-half-on-tv
      width: $is-half
    &.is-third-on-tv
      width: $is-third
    &.is-quarter-on-tv
      width: $is-quarter
    &.is-one-fifth-on-tv
      width: $is-one-fifth
    &.is-one-eight-on-tv
      width: $is-one-eigth
  +desktop
    &.is-full-on-desktop
      width: $is-full
    &.is-four-fifth-on-desktop
      width: $is-four-fifth
    &.three-quarter-on-desktop
      width: $is-three-quarter
    &.is-two-third-on-desktop
      width: $is-two-third
    &.is-half-on-desktop
      width: $is-half
    &.is-third-on-desktop
      width: $is-third
    &.is-quarter-on-desktop
      width: $is-quarter
    &.is-one-fifth-on-desktop
      width: $is-one-fifth
    &.is-one-eight-on-desktop
      width: $is-one-eigth
  +laptop
    &.is-full-on-laptop
      width: $is-full
    &.is-four-fifth-on-laptop
      width: $is-four-fifth
    &.three-quarter-on-laptop
      width: $is-three-quarter
    &.is-two-third-on-laptop
      width: $is-two-third
    &.is-half-on-laptop
      width: $is-half
    &.is-third-on-laptop
      width: $is-third
    &.is-quarter-on-laptop
      width: $is-quarter
    &.is-one-fifth-on-laptop
      width: $is-one-fifth
    &.is-one-eight-on-laptop
      width: $is-one-eigth
  +tablet
    &.is-full-on-tablet
      width: $is-full
    &.is-four-fifth-on-tablet
      width: $is-four-fifth
    &.three-quarter-on-tablet
      width: $is-three-quarter
    &.is-two-third-on-tablet
      width: $is-two-third
    &.is-half-on-tablet
      width: $is-half
    &.is-third-on-tablet
      width: $is-third
    &.is-quarter-on-tablet
      width: $is-quarter
    &.is-one-fifth-on-tablet
      width: $is-one-fifth
    &.is-one-eight-on-tablet
      width: $is-one-eigth
  +mobile
    &.is-full-on-mobile
      width: $is-full
    &.is-four-fifth-on-mobile
      width: $is-four-fifth
    &.three-quarter-on-mobile
      width: $is-three-quarter
    &.is-two-third-on-mobile
      width: $is-two-third
    &.is-half-on-mobile
      width: $is-half
    &.is-third-on-mobile
      width: $is-third
    &.is-quarter-on-mobile
      width: $is-quarter
    &.is-one-fifth-on-mobile
      width: $is-one-fifth
    &.is-one-eight-on-mobile
      width: $is-one-eigth
    &.disappear-on-mobile
      display: none